.mainContainer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background: #030a10;

  @media (max-width: 768px) {
    padding: 0;
  }
}
