@import 'tailwindcss';
@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

:root {
  --font-alumni-regular: 'AlumniSans-Regular';
  --font-alumni-medium: 'AlumniSans-Medium';
  --font-alumni-bold: 'AlumniSans-Bold';
  --font-alumni-light: 'AlumniSans-Light';
}

@font-face {
  font-family: 'AlumniSans-Bold';
  src: url('/fonts/AlumniSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'AlumniSans-Medium';
  src: url('/fonts/AlumniSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AlumniSans-Regular';
  src: url('/fonts/AlumniSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AlumniSans-Light';
  src: url('/fonts/AlumniSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --primapy-color: #ffffff;
}

body {
  background: url(../public/images/main-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  color: var(--primapy-color);
  box-sizing: border-box;
}

.custom-scroll::-webkit-scrollbar {
  width: 12px;
  padding: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 3px solid #acc5d0;
  margin: 2px;
  padding: 2px;
  background: none;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #acc5d0;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
}

.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.custom-scroll {
  scrollbar-width: 12px;
  padding: 6px;
}
