.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  max-width: 900px; 
  padding: 2rem;
  margin: 0 auto;
}

.questionBorder {
  background: linear-gradient(to bottom left,  #006c8400, #2B95C8, #006c8400);
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.questionBox {
  background: linear-gradient(270deg, #2B95C8, #2b96c800 80%);
  border-radius: 13px;
  padding: 1.2rem;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 229, 255, 0.2);

  p {
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.3rem);
  }

  span {
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    font-weight: bold;
  }
}

.optionsGrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 1.5rem;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.optionCard {
  background: linear-gradient(to bottom left, #999EA0, #999ea000);
  border: 3px solid #999EA0;
  border-radius: 12px;
  padding: 1rem;
  text-align: left;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover:not(:disabled) {
    background: rgba(0, 229, 255, 0.2);
    transform: scale(1.02);
  }
}

.optionLetter {
  display: block;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;

  background: linear-gradient(to bottom, #C792F9, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}



.correct {
  background: linear-gradient(to bottom left, #03AF8C, #999ea000);
  border-color: #03AF8C;
  color: #fff;
}

.wrong {
  background: linear-gradient(to bottom left, #D28080, #999ea000);
  border-color: #D28080;
  color: #fff;
}
