.interactionWrapper {
  padding: 20px 0;
}

.videoButton {
  font-size: 24px;
}

.bonuseMissionText {
  padding: 10px 32px;
  border: 2px solid #d1d5db;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    rgba(146, 149, 155, 0.5) 30%,
    rgba(184, 186, 192, 0.5) 100%
  );
}
